/* .nav_sec{
    background-color: #F4DF8B;
} */
 .search{
    background-color: rgba(150, 150, 150, 0.304);
 }
 /* .nav_sec{ */
    /* display: flex; */
    /* box-shadow: 1px 6px 10px -1px rgb(216, 216, 216); */
/* } */
.sticky_nav{
    position: sticky;
    top: 0;
    z-index: 60;
    animation: stickyheader 0.3s ease forwards;
    /* box-shadow: 1px 6px 10px -1px rgb(216, 216, 216); */
}
/* .sticky_nav {
    @apply sticky top-0 z-50; /* if you're using Tailwind's @apply */
  /* }    */
@keyframes stickyheader {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
.newtag{
    transition: all ease-in-out 0.6s;
    animation: taganm 1.3s ease-in-out infinite;
}
@keyframes taganm {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.animate-scroll{
    animation: scrolltxt 20s linear infinite;
}
@keyframes scrolltxt {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
}
.scroller::-webkit-scrollbar{
    display: none;
}
.glow{
    background-color: #95C11E;
    border-radius: 50%;
    /* filter: blur(7px); */
    box-shadow: 0px 0px 90px 50px #95C11E;
    /* background-color: rgba(135, 115, 0, 0.436); */
    transform: rotate(45deg);
    transition: all ease-in-out 1s;
    animation: gloww 4s ease-in-out infinite;
}
@keyframes gloww {
    0%{
        box-shadow: 0px 0px 90px 50px #95C11E;
    }
    50%{
        box-shadow: 0px 0px 90px 20px #95C11E;
    }
    100%{
        box-shadow: 0px 0px 90px 50px #95C11E;
    }
}
/* .md\:hidden {
    display: none;
}

.fixed {
    position: fixed;
} */

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.translate-x-full {
    transform: translateX(100%);
}

.translate-x-0 {
    transform: translateX(0);
}
.cards {
    height: 450px;
    width: 320px;
    border-radius: 10px;
    z-index: 10;
    transition: all 0.8s ease-in-out;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: #2d2d2de6;
    color: white;
    padding-top: 80px;
    padding-right: 7px;
    padding-left: 7px;
    opacity: 0;
    z-index: 10;
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
    text-align: center;
}

.overlay h4 {
    font-size: 1.7rem;
    font-weight: 900;
}

.overlay p {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.cards:hover {
    transform: rotate3d(-1, 1, 0.1, 20deg);
    cursor: pointer;
}

.cards:hover .overlay {
    opacity: 1;
}
.cards:hover {
    background-color: #95C11E;
}
.card2 {
    background: url('./assets/womenCat.jpg')no-repeat center center / cover;
}

.card1 {
    background: url('./assets/menCat.jpg')no-repeat center center / cover;
}
.scrollBarHide::-webkit-scrollbar{
    display: none;
}
.scrollBarHide{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
.inn{
    filter: invert();
}